@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
  width: 100%;
  height: 100vh;
}

html.light {
  --primary: #29292a;
  --secondary: #f3f3f3;
  --third: #ffffff;
  --default: #999999;
  --success: #49832c;
  --info: #64B3AC;
  --warning: #D1BB80; 
  --danger: #994C55;
  --grey: #cbcbcb;
}

html.dark {
  --primary: #e3e3e3;
  --secondary: #2d2d2e;
  --third: #323232;
  --default: #999999;
  --success: #AEB883;
  --info: #64B3AC;
  --warning: #D1BB80;
  --danger: #994C55;
  --grey: #4e5154;
}

$color-primary: var(--primary);
$color-secondary: var(--secondary);
$color-third: var(--third);
$color-default: var(--default);
$color-success: var(--success);
$color-info: var(--info);
$color-warning: var(--warning);
$color-danger: var(--danger);
$color-grey: var(--grey);

body{
  width: 100%;
  background-color: $color-third;
  padding: 4rem;
  height: 100%;
  overflow-y: auto;
}

*{
  box-sizing: border-box;
  font-family: "Manrope";
}

.ct-fl {
  width: 100%;
  padding-right: $gutter-1x;
  padding-left: $gutter-1x;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: - $gutter-1x;
  margin-left: - $gutter-1x;
}

%grid-column {
  position: relative;
  width: $full;
  min-height: 1px;
  padding-right: $gutter-1x;
  padding-left: $gutter-1x;
  overflow-wrap: break-word;
  // hyphens: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: $full;
  @extend %grid-column;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  @extend %grid-column;
}


