.ld-ct {
    min-height: 200px;
}

// Loader
.ld {
    display: inline-block;
    animation: 1s 0.2s spin infinite;
    width: $loader-width;
    height: $loader-height;
    border: $loader-border;
    border-top-color: $loader-border-top-color;
    border-radius: $half;

    &.disabled {
        animation: unset !important;
    }

    &.absolute{
      position: absolute;  
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
}

// Loader
.ld-small {
    display: inline-block;
    animation: 1s 0.2s spin infinite;
    width: 20px;
    height: 20px;
    border: $loader-border;
    border-top-color: $loader-border-top-color;
    border-radius: $half;
    margin-left: 7px;
    &.disabled {
        animation: unset !important;
    }
}
