// Gera Medias para os Breakpoints
@mixin media-breakpoint-down($breakpoint-value) {
    @if $breakpoint-value {
        @media (max-width: $breakpoint-value) {
            @content;
        }
    }

    @else {
        @content;
    }
}

// Gera Medias para os Breakpoints
@mixin media-breakpoint-up($breakpoint-value) {
    @if $breakpoint-value {
        @media (min-width: $breakpoint-value) {
            @content;
        }
    }

    @else {
        @content;
   }
}


@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: $full;
        padding-top: ($height / $width) * $full;
    }

    > .aspect-ratio {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin material-shadow($color) {
    // -moz-box-shadow: 0 10px 30px -12px rgba($color, 0.28), 0 4px 25px 0px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
    // -webkit-box-shadow: 0 10px 30px -12px rgba($color, 0.28), 0 4px 25px 0px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
    // box-shadow: 0 10px 30px -12px rgba($color, 0.28), 0 4px 25px 0px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
}

@mixin select-shadow($color) {
    //-moz-box-shadow: 0 10px 30px -12px rgba($color, 0.28), 0 4px 25px 0px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
    //-webkit-box-shadow: 0 10px 30px -12px rgba($color, 0.28), 0 4px 25px 0px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
    box-shadow: $box-shadow-card;
}

@function m-shadow($color) {
    // @return 0 10px 30px -12px rgba($color, 0.28), 0 4px 25px 0px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
}

@mixin inset-shadow() {
    // -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    // -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

@mixin extend-shadow($color: rgba(0, 0, 0, .10)) {
    -moz-box-shadow: 0 20px 12px -7px $color;
    -webkit-box-shadow: 0 20px 12px -7px $color;
    box-shadow: 0 20px 12px -7px $color;
}

@mixin light-shadow($color: rgba(0, 0, 0, .10)) {
    -moz-box-shadow: 0 1px 4px 0 $color;
    -webkit-box-shadow: 0 1px 4px 0 $color;
    box-shadow: 0 1px 4px 0 $color;
}

@mixin elevation($box-shadow: $box-shadow-card) {
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin elevation-hover($box-shadow: $box-shadow-card-hover) {
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

// Cross browser box shadow
@mixin box-shadow($box-shadow) {
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

// Box padding
@mixin box-pd($key, $value) {
    .box-pd-#{$key} {
        padding: $value;
    }
}

// Margin-bottom
@mixin mb($key, $value) {
    .mb-#{$key} {
        margin-bottom: $value;
    }
}

// Margin-right
@mixin mr($key, $value) {
    .mr-#{$key} {
        margin-right: $value;
    }
}

// Padding-bottom
@mixin pb($key, $value) {
    .pb-#{$key} {
        padding-bottom: $value;
    }
}

// Padding-right
@mixin pr($key, $value) {
    .pr-#{$key} {
        padding-right: $value;
    }
}

// Width
@mixin wd($key, $value) {
    .wd-#{$key} {
        width: $value;
    }
}

// Min-width
@mixin mw($key, $value) {
    .mw-#{$key} {
        width: $value;
    }
}

// Max-width
@mixin maxw($key, $value) {
    .maxw-#{$key} {
        width: $value;
    }
}

// Mixin Padding left & right
@mixin col-pd($key, $value) {
    .col-pd-#{$key} {
        padding: 0px $value;
    }
}

// Spacing between
@mixin col-sp($key, $value) {
    .col-sp-#{$key} {
        > * + * {
            margin-left: $value;
        }
    }
}

// Off-gd
@mixin off-gd($key, $value) {
    .off-gd-#{$key} {
        margin-top: - $value;
    }
}

// Margin-top
@mixin mt($key, $value) {
    .mt-#{$key} {
        margin-top: $value;
    }
}

// Margin-left
@mixin ml($key, $value) {
    .ml-#{$key} {
        margin-left: $value;
    }
}

// Padding-top
@mixin pt($key, $value) {
    .pt-#{$key} {
        padding-top: $value;
    }
}

// Padding-left
@mixin pl($key, $value) {
    .pl-#{$key} {
        padding-left: $value;
    }
}

// Padding-left
@mixin ht($key, $value) {
    .ht-#{$key} {
        height: $value;
    }
}

// Padding-left
@mixin row-pd($key, $value) {
    .row-pd-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }
}

// Spacing between
@mixin row-sp($key, $value) {
    .row-sp-#{$key} {
        > * + * {
            margin-top: $value;
        }
    }
}

// Margin top & bottom
@mixin row-mg($key, $value) {
    .row-mg-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

// Visibility
@mixin hidden($key, $value) {
    .h-#{$key} {
        display: none !important;
    }
}

@mixin visible($key, $value) {
    .v-#{$key} {
        display: block !important;
    }
}

// Colors
@mixin colors($key, $value){
    .tx-#{$key},
    .tx-#{$key} *{
        color: $value;
    }
}

// Font-size
@mixin font-size($key, $value){
    .tx-#{$key}{
        font-size: $value;
    }
}

// Border Radius
@mixin bd-radius($key, $value) {
    
    // Arredondados para todos lados
    .bd-rd-#{$key} {
        -webkit-border-radius: $value;
        -moz-border-radius: $value;
        border-radius: $value;
    }

    // Bordas arredondadas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-rd-#{$key}-#{$break-point-key} {
                -webkit-border-radius: $value;
                -moz-border-radius: $value;
                border-radius: $value;
            }

            .no-bd-rd-#{$break-point-key} {
                -webkit-border-radius: unset;
                -moz-border-radius: unset;
                border-radius: unset;
            }
        }
    }

    // Arredondado
    .bd-t-r-rd-#{$key} {
        border-top-right-radius: $value;
    }

    .bd-t-l-rd-#{$key} {
        border-top-left-radius: $value;
    }

    .bd-b-r-rd-#{$key} {
        border-bottom-right-radius: $value;
    }

    .bd-b-l-rd-#{$key} {
        border-bottom-left-radius: $value;
    }

}

// Background
@mixin background($key, $value){
    .bg-#{$key}{
        background: $value;
    }
}

@mixin background-hover($key, $value){
    .bg-#{$key}-hv:hover{
        background: $value;
    }
}

// Tamanho de cabeçalhos
@mixin h($key, $value){
    #{$key},
    .#{$key}{
        margin: 0;
        font-size: $value;
    }
}

// Alinhamento
@mixin alignment($key, $value){
    .tx-#{$key}{
        text-align: $value;
    }
}

// Alinhamento
@mixin font-stroke($key, $value){
    .tx-#{$key}{
        font-weight: $value !important;
    }
}

// Espaçamento
@mixin letter-spacing($key, $value){

    // .lt-#{$key}{
    //     letter-spacing: $value;
    // }

    .ls-#{$key}{
        letter-spacing: $value;
    }
}

// Alinhamento
@mixin word-spacing($key, $value){
    .wd-sp-#{$key}{
        word-spacing: $value;
    }
}

// Font-weight
@mixin font-weight($key, $value){
    @if($key == 'bd'){
        .tx-#{$key}{
            font-weight: $value !important; 
        }
    }
    @else{
        .tx-#{$key}{
            font-family: $value; 
        }
    }
}

// Tamanho do botão
@mixin btn-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

// Espaçamento entre linhas
@mixin line-height($key, $value) {
    .lh-#{$key}{
        line-height: $value;
    }
}

// Botões coloridos
@mixin btn-colored($text-color, $btn-color) {
    color: $text-color;
    background-color: $btn-color;
    border: $btn-border-width $btn-color;
    &:hover:not(:disabled) {
        @if $btn-hover-effect == lighten {
          //  background-color: lighten(($btn-color), $btn-hover-effect-amount);
        } @else {
          //  background-color: darken(($btn-color), $btn-hover-effect-amount);
        }
    }
}
 
// Botões coloridos outline
@mixin btn-colored-outline($text-color, $btn-color) {
    color: $btn-color;
    background-color: transparent;
    border: $btn-border-width solid $btn-color;

	&:hover:not(:disabled) {
		background-color: $btn-color;
		color: $btn-colored-text-color;
	}
}

// Alerts coloridos
@mixin al-colored($text-color, $al-color) {
    color: $text-color;
    background-color: $al-color;
    border: $btn-border-width $al-color;
}

// Chips coloridos
@mixin chip-colored($key, $chip-color) {
    background-color: $chip-color;
    border: $chip-border-width solid $chip-color;
    // Label
    > label {
        color: $chip-colored-text-color;
    }
    // Ícone de fechar
    > i {
        color: $chip-color;
        // background-color: darken($chip-color, 20%);
        background-color: $chip-color;

    }
}

 // Modais coloridos
 @mixin modal-colored($key, $color) {
    .md-#{$key} {
        .md-hd {
            background-color: $color;
            color: $modal-colored-text-color; 
            .md-cl { 
                color: $modal-colored-text-color;

            }
        }
        border: none;
    }
}

@mixin modal-alert-colored($key, $border-top-color) {
    .md-#{$key} {
        .md-pn {
            .md-close {
                color: $color-white;
            }
            .md-hd {
                // border-top: $dimen-md solid $border-top-color;
                .md-hd-i {
                    //color: $color-accent;
                    @if ($key == 'pm') {
                        color: $color-accent;
                    }@else{
                        color: $border-top-color;
                    }
                }
            }
        }
    }
}

// Progress-Bar coloridos
@mixin progress-bar-colored($key, $color){
    &.pg-#{$key} {
        > label {
            // @include background-image(linear-gradient(top, $color, $color));
            // @include background-image(linear-gradient(top, $color, $color));

        }
    }
}

// Slider coloridos
@mixin slider-colored($key, $color) {
    .noUi-#{$key} {
        .noUi-connect {
            background-color: $color;
        }

        .noUi-connects {
            // background-color: lighten($color, 35%);
            background-color: ($color);

            @if ($key == 'pm') {
                // background-color: lighten($color-primary, 35%);
                background-color: ($color-primary);

            }
        }

        .noUi-handle {
            border: 1px solid $color;
        }

        .noUi-tooltip {
            color: $slider-colored-tooltip-text-color;
            border: 1px solid $color-secondary;
            border-radius: $slider-colored-tooltip-border-radius;
            background-color: $color-secondary;
        }
    }
}

// Inputs coloridos
@mixin input-colored($key, $color){
    &.ip-#{$key} {
        border-bottom: 1px solid $color;

        input ~ span {
            background: $color;
        }

        > label,
        input:focus ~ label,
        input:valid ~ label {
            color: $color !important;
        }

        .ip-ht {
            opacity: 1;
            i {
                color: $color;
            }
        }
    }
}

// Textarea coloridos
@mixin textarea-colored($key, $color){
    &.ta-#{$key} {
        border-bottom: 1px solid $color;

        textarea ~ span {
            background: $color;
        }

        label,
        textarea:focus ~ label,
        textarea:valid ~ label {
            color: $color;
        }

        .ta-ht {
            opacity: 1;
            i {
                color: $color;
            }
        }

        @if($key == 'ds'){
            > textarea {
                resize: none;
            }
        }
    }
}

// Tamanho dos textos
@mixin text-size($key, $value) {
    .tx-#{$key} {
        font-size: $value;
    }

    // Tamanho dos textos por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .tx-#{$key}-#{$break-point-key} {
                font-size: $value !important;
            }

            .tx-b-#{$break-point-key} {
                font-weight: bold !important;
            }

            .no-tx-b-#{$break-point-key} {
                font-weight: normal !important;
            }
            
            .tx-c-#{$break-point-key}{
                text-align: center !important;
            }
            
            .tx-ct-#{$break-point-key}{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

// Disposição dos textos
@mixin text-dispositions($key, $value){
    
    .tx-#{$key} {
        text-align: $value;
    }
    
    // Disposição dos textos por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .tx-#{$key}-#{$break-point-key} {
                text-align: $value !important;
            }
        }
    }
}

// Tamanho das bordas
@mixin border-width($key, $value) {
    .bd-wd-#{$key} {
        border-width: $value;
    }

    // Tamanho das bordas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-wd-#{$key}-#{$break-point-key} {
                border-width: $value;
            }
        }
    }

    
}

// Cores das bordas
@mixin border-color($key, $value) {
    .bd-cl-#{$key} {
        border-color: $value;
    }
    .bd-cl-#{$key}-hv {
        &:hover{
            border-color: $value;
        }
    }
}

// Estilo das bordas
@mixin border-style($key, $value) {
    .bd-st-#{$key} {
        border-style: $value;
    }

    // Tamanho das bordas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-st-#{$key}-#{$break-point-key} {
                border-style: $value;
            }

            .no-bd-#{$break-point-key} {
                border-style: none;
            }
        }
    }
}

// Estilo das bordas do topo
@mixin border-top-style($key, $value) {
    .bd-t-st-#{$key} {
        //border-top-style: $value;
        -webkit-border-top-style: $value;
        -moz-border-top-style: $value;
        border-top-style: $value;
    }

    // Tamanho das bordas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-t-st-#{$key}-#{$break-point-key} {
                -webkit-border-top-style: $value;
                -moz-border-top-style: $value;
                border-top-style: $value;
            }

            .no-bd-t-#{$break-point-key} {
                border-top-style: none;
            }
        }
    }
}

// Estilo das bordas a direita
@mixin border-right-style($key, $value) {
    .bd-r-st-#{$key} {
        -webkit-border-right-style: $value;
        -moz-border-right-style: $value;
        border-right-style: $value;
    }

    // Tamanho das bordas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-r-st-#{$key}-#{$break-point-key} {
                -webkit-border-right-style: $value;
                -moz-border-right-style: $value;
                border-right-style: $value;
            }

            .no-bd-r-#{$break-point-key} {
                border-right-style: none;
            }
        }
    }
}

// Estilo das bordas a baixo
@mixin border-bottom-style($key, $value) {
    .bd-b-st-#{$key} {
        border-bottom-style: $value;
    }

    // Tamanho das bordas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-b-st-#{$key}-#{$break-point-key} {
                -webkit-border-bottom-style: $value;
                -moz-border-bottom-style: $value;
                border-bottom-style: $value;
            }

            .no-bd-b-#{$break-point-key} {
                border-bottom-style: none;
            }
        }
    }
}

// Estilo das bordas a esquerda
@mixin border-left-style($key, $value) {
    .bd-l-st-#{$key} {
        border-left-style: $value;
    }
 
    // Tamanho das bordas por resoluções
    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {

            .bd-l-st-#{$key}-#{$break-point-key} {
                -webkit-border-left-style: $value;
                -moz-border-left-style: $value;
                border-left-style: $value;
            }

            .no-bd-l-#{$break-point-key} {
                border-right-style: none;
            }
        }
    }
}

// Opacidades:
@mixin opacity($key, $value) {
    .op-#{$key} {
        opacity: $value !important;
    }

    @each $break-point-key, $break-point-value in $breakpoints {
        @include media-breakpoint-down($break-point-value) {
            .op-#{$key}-#{$break-point-key} {
                opacity: $value !important;
            }
        }
    }
}

// z-index:
@mixin z-index($key, $value) {
    .z-#{$key} {
       z-index: $value !important; 
    }
}
